body{
    font-family: 'Special Elite', cursive;
    background-color: #f5dbda;
}

.header_div{
    background-color: white;
    color: red;
}
.header_div img{
    width: 100px;
}
.main_div{
    background-color: #ffd2c7;
    padding: 10px;
    border: 3px solid white;
    margin-top: 15px;
}
.main_div label{
    margin-bottom: 0px;
    padding: 10px;
    width: 310px;
    background-color: white;
    box-shadow: 0px 0px 21px blue;
}
#camera ,#result{
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 21px white;
    border:3px solid white;
}
.main_div button{
    font-size: 16px;
    width: 310px;
    box-shadow: 5px 5px 21px white;
    border: 3px solid white;
}
.footer_div{
    margin-bottom: 50px;
}
.footer_div h4{
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 5px 5px 20px white;
}
.footer_div img{
    width: 70px;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    color: black;
    width: 100%;
    background-color: #6c757d;
    line-height: 3;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}